body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.public-form-wrap{
  margin: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.public-form-wrap .container-wrap{
  background-color: white;
  border-radius: 4px;
  padding: 20px;
}
.public-form-wrap .public-form-content{
  background-color: #DCD9D8;
  border-radius: 4px;
  min-width: 500px;
  min-height: 300px;
  padding: 2em;
}
